.feature__option:not(.feature__selected) {
    cursor: pointer;
}

.feature__option:not(.feature__selected) {
    border: 0.1rem solid #d6d6d6;
}

.feature__option {
    margin-top: 4px;
    display: block;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.feature__selected {
    border: 0.2rem solid #0070c9;
}

.feature__item + .feature__item {
    margin-top: 0.8rem;
}